# MADOS Segmentation Linear Probing Configuration
# Based on PASTIS setup but adapted for MADOS characteristics

model:
  config_file: /home/admin/john/SR4Seg/dinov3/dinov3/configs/train/dinov3_vitsmall16_pretrain_sr.yaml
  pretrained_weights: /home/admin/john/SR4Seg/dinov3/logs/_temp/18012
  dino_hub: null

bs: 128
n_gpus: 1
num_workers: 3
model_dtype: FLOAT32
seed: 100

datasets:
  root: /home/admin/AGML_ResearchGroup/SuperResolution/mados/
  train: MADOS:split=train
  val: MADOS:split=val

metric_to_save: mIoU

decoder_head:
  type: linear
  backbone_out_layers: LAST
  use_cls_token: false
  use_batchnorm: true
  use_backbone_norm: true
  num_classes: 15
  hidden_dim: 2048

scheduler:
  type: WarmupOneCycleLR
  total_iter: 20000
  constructor_kwargs:
    warmup_iters: 1000
    warmup_ratio: 1.0e-06
    final_div_factor: .inf
    pct_start: 0
    anneal_strategy: cos
    use_beta1: false
    update_momentum: false

optimizer:
  lr: 0.001
  beta1: 0.9
  beta2: 0.999
  weight_decay: 0.001
  gradient_clip: .inf

transforms:
  train:
    img_size: 80
    random_img_size_ratio_range:
    - 0.5
    - 2.0
    crop_size:
    - 80
    - 80
    flip_prob: 0.5
  eval:
    img_size: 80
    tta_ratios:
    - 1.0
  mean:
  - 123.675
  - 116.28
  - 103.53
  std:
  - 58.395
  - 57.12
  - 57.375

train:
  diceloss_weight: 0.0
  celoss_weight: 1.0

eval:
  compute_metric_per_image: false
  reduce_zero_label: false
  mode: whole
  crop_size: 80
  stride: 40
  eval_interval: 2000
  use_tta: false

output_dir: dinov3/logs/eval/mados/linear_probing
load_from: null
