# Config for PASTIS, linear training
# PASTIS: Crop type classification from Sentinel-2 time series
# 20 classes, 64x64 images (tiled from 128x128), BGRI bands

bs: 16
n_gpus: 1
metric_to_save: 'mIoU'
model_dtype: FLOAT32
model:
  config_file: /home/admin/john/SR4Seg/dinov3/dinov3/configs/train/dinov3_vitsmall16_pretrain_sr.yaml
  pretrained_weights: /home/admin/john/SR4Seg/dinov3/logs/_temp/18012
scheduler:
  total_iter: 20000
  type: 'WarmupOneCycleLR'
  constructor_kwargs:
    warmup_iters: 1000
    warmup_ratio: 1e-6
    final_div_factor: .inf
    pct_start: 0
    anneal_strategy: 'cos'
    use_beta1: False
    update_momentum: False
optimizer:
  lr : 1e-3
  beta1: 0.9
  beta2: 0.999
  weight_decay: 1e-3
  gradient_clip: 'inf'
datasets:
  root: "/home/admin/AGML_ResearchGroup/SuperResolution/pastis/"
  train: "PASTIS:split=train"
  val: "PASTIS:split=val"
train:
  diceloss_weight: 0.0
  celoss_weight: 1.0
decoder_head:
  type: "linear"
  backbone_out_layers: LAST
  use_cls_token: False
  use_batchnorm: True
  use_backbone_norm: True
  num_classes: 20
transforms:
  train:
    img_size: 64
    random_img_size_ratio_range: [0.5, 2.0]
    crop_size: [64, 64]
    flip_prob: 0.5
  eval:
    img_size: 64
eval:
  compute_metric_per_image: False
  reduce_zero_label: False
  mode: "whole"
  crop_size: 64
  stride: 32
  eval_interval: 2000
  use_tta: False
